<!DOCTYPE html>
<html 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content">
	<div id="section-title">
		<span>회원 정보 변경</span>
	</div>
	<div id="section-content">
		<!--  TODO 마크업 - 내 정보 수정 -->
		<form id="edit-form" method="post">
			<div>
				<label>닉네임</label>
				<input name="nickname" th:value="${user.nickname}" type="text" placeholder="닉네임">
			</div>
			<div>
				<label>프로필 사진</label>
				<img th:src="${user.profileImagePath != null ? user.profileImagePath : '/images/blank_profile_image/blank.png'}" alt="프로필 사진" width="100px">
				<input name="file" type="file" value="프로필 사진">
				<button type="button" id="image-delete-button">프로필 사진 삭제</button>
			</div>
			<div>
				<label>이메일</label>
				<input name="email" th:value="${user.email}" type="email" placeholder="이메일">
			</div>
			<button type="button" id="reset-button">초기화</button>
			<button type="submit">저장</button>
		</form>		
	</div>
</section>

<th:block layout:fragment="script">
	<script>
	$(document).ready(function() {
		let resetProfileImage = false;
		
		// 저장 버튼
		$("#edit-form").on("submit", function(e) {
			e.preventDefault();
			<!-- TODO 유효성 검사 - 프로필 수정 js -->
			alert("submit");
			
			let formData = new FormData();
			formData.append("nickname", $("input[name=nickname]").val().trim());
			formData.append("file", $("input[name=file]")[0].files[0]);
			formData.append("email", $("input[name=email]").val().trim());
			formData.append("resetProfileImage", resetProfileImage);
			
			$.ajax({
				type:"post"
				,data:formData
				,url:"/user/" + "[[${session.loginId}]]" + "/profile/edit"
				,processData:false
				,contentType:false
				,enctype:"multipart/form-data"
				,success:function(data) {
					location.reload();
				}
				,error:function(e) {
					alert("잠시 후 다시 시도해주세요");
				}
			});
			
		});
		
		// 프사 삭제 버튼
		$("#image-delete-button").on("click", function() {
			$("img").attr("src", "/images/blank_profile_image/blank.png");
			resetProfileImage = true;
		});
		
		// 초기화 버튼
		$("#reset-button").on("click", function() {
			location.reload();
			resetProfileImage = false;
		})
	});
	</script>
</th:block>