<!DOCTYPE html>
<html 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content">
	<div id="section-title">
		<span>내 재료</span>
	</div>
	<div id="section-content">
		<div id="processed-ingredients">
			<div class="d-flex align-items-center mb-3">
				<span class="mr-2">가공식품</span>
				<input id="processed-ingredients-keyword" placeholder="식품명, 제조사명">
				<button id="processed-ingredients-search">검색</button>
			</div>
			
			<div style="height:150px;" class="scroll border">
				<table class="table">
					<thead>
						<tr>
							<th>상품명</th>
							<th>제조사</th>
							<th>열량</th>
							<th>탄수화물</th>
							<th>단백질</th>
							<th>지방</th>
							<th>담기</th>
						</tr>
					</thead>
					<tbody id="processed-ingredients-list">
						<tr th:each="myIngredient : ${myIngredients}"></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		
	</script>
</th:block>