<!DOCTYPE html>
<html 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="nav" th:replace="~{fragments/nav1 :: nav}"></th:block>
<section layout:fragment="content">
	<div id="section-title">
		<span>재료 추가</span>
	</div>
	<div id="section-content">
		<!-- 가공식품 조회 -->
		<div id="processed-ingredients">
			<div class="d-flex align-items-center mb-3">
				<span class="mr-2">가공식품 검색</span>
				<input id="processed-ingredients-keyword" placeholder="식품명, 제조사명">
				<button id="processed-ingredients-search">검색</button>
			</div>
			
			<div style="height:150px;" class="scroll border">
				<table class="table text-center">
					<thead>
						<tr>
							<th>식품명</th>
							<th>제조사</th>
							<th>열량</th>
							<th>탄수화물</th>
							<th>단백질</th>
							<th>지방</th>
							<th>담기</th>
						</tr>
					</thead>
					<tbody id="processed-ingredients-list">
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- 원재료 조회 -->
		<div id="raw-ingredients" class="mt-5">
			<div class="d-flex align-items-center mb-3">
				<span class="mr-2">원재료 검색</span>
				<input id="raw-ingredients-keyword" placeholder="식품명">
				<button id="raw-ingredients-search">검색</button>
			</div>
			
			<div style="height:150px;" class="scroll border">
				<table class="table text-center">
					<thead>
						<tr>
							<th>식품명</th>
							<th>열량</th>
							<th>탄수화물</th>
							<th>단백질</th>
							<th>지방</th>
							<th>담기</th>
						</tr>
					</thead>
					<tbody id="raw-ingredients-list">
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- 커스텀 재료 등록 -->
		<div id="my-ingredients" class="mt-5">
			<div class="mb-3 d-flex justify-content-between">
				<span class="mr-2">커스텀 재료 등록</span>
				<small>*중량 당 영양함량 기재</small>
			</div>
			
			<div class="border">
				<table class="table">
					<thead>
						<tr>
							<th>식품명</th>
							<th>중량(g)</th>
							<th>열량(kcal)</th>
							<th>탄수화물(g)</th>
							<th>단백질(g)</th>
							<th>지방(g)</th>
							<th>담기</th>
						</tr>
					</thead>
					<tbody id="custom-ingredient-inputs">
						<tr>
							<td><input id="food-name" class="form-control"></td>
							<td><input id="net-weight" class="form-control"></td>
							<td><input id="calorie" class="form-control"></td>
							<td><input id="carbohydrates" class="form-control"></td>
							<td><input id="protein" class="form-control"></td>
							<td><input id="fat" class="form-control"></td>
							<td><button data-type="custom" class="add-button" style="white-space:nowrap;">담기</button></td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			
			// 가공식품 조회해서 table에 뿌리는 이벤트
			$("#processed-ingredients-search").on("click", function() {
				let keyword = $("#processed-ingredients-keyword").val().trim();
				if (keyword.length < 2) {
					alert("검색어는 2자 이상 입력하세요");
					return;
				}
					
				$.ajax({
					type:"get"
					,url:"/ingredient/processed?keyword=" + keyword
					,dataType:"json"
					,success:function(data) {
						let processedTbody = $("#processed-ingredients-list"); 
						processedTbody.empty();
						data.forEach(function(item) {
							let addButton = $("<button class='add-button' data-type='processed' data-id='" + item.id + "'>담기</button>");
							let tr = $("<tr></tr>");
							tr.append($("<td class='text-ellipsis' style='max-width:250px;'></td>").text(item.foodName));
							tr.append($("<td class='text-ellipsis' style='max-width:150px;'></td>").text(item.manufacturer));
							tr.append($("<td></td>").text(item.caloriePer100));
							tr.append($("<td></td>").text(item.carbohydratesPer100));
							tr.append($("<td></td>").text(item.proteinPer100));
							tr.append($("<td></td>").text(item.fatPer100));
							<!-- TODO 마크업 - 이미 담은 재료는 빼기 버튼으로 나타내기 -->
							tr.append($("<td></td>").append(addButton));
							
							processedTbody.append(tr);
						});
					}
					,error:function(e) {
						let processedTbody = $("#processed-ingredients-list");
						let tr = $("<tr></tr>");
						processedTbody.empty();
						tr.append($("<td></td>").text("조회 실패"));
						processedTbody.append(tr);
					}
				});
			}); // 가공식품 조회 끝
			
			// 원재료 조회
			$("#raw-ingredients-search").on("click", function() {
				let keyword = $("#raw-ingredients-keyword").val().trim();
				if (keyword.length < 2) {
					alert("검색어는 2자 이상 입력하세요");
					return;
				}
					
				$.ajax({
					type:"get"
					,url:"/ingredient/raw?keyword=" + keyword
					,dataType:"json"
					,success:function(data) {
						let rawTbody = $("#raw-ingredients-list"); 
						rawTbody.empty();
						data.forEach(function(item) {
							let addButton = $("<button class='add-button' data-type='raw' data-id='" + item.id + "'>담기</button>");
							let tr = $("<tr></tr>");
							tr.append($("<td class='text-ellipsis' style='max-width:300px;'></td>").text(item.foodName));
							tr.append($("<td></td>").text(item.caloriePer100));
							tr.append($("<td></td>").text(item.carbohydratesPer100));
							tr.append($("<td></td>").text(item.proteinPer100));
							tr.append($("<td></td>").text(item.fatPer100));
							tr.append($("<td></td>").append(addButton));
							
							rawTbody.append(tr);
						});
					}
					,error:function(e) {
						let rawTbody = $("#raw-ingredients-list");
						let tr = $("<tr></tr>");
						rawTbody.empty();
						tr.append($("<td></td>").text("조회 실패"));
						rawTbody.append(tr);
					}
				});
			}); // 원재료 조회 끝
			
			// 재료 담기
			$(document).on("click", "button[class=add-button]", function() {
				let ingredientType = $(this).data("type");
				let ingredientId = $(this).data("id");
				
				if (ingredientType != "custom") {
					$.ajax({
						type:"post"
						,url:"/user/" + "[[${session.loginId}]]" + "/ingredient/register"
						,data:{"type":ingredientType, "ingredientId":ingredientId}
						,success:function(data) {
							alert(data.message);
						}
						,error:function(e) {
							alert("실패")
						}
					});
				
				} else {
					<!-- TODO 유효성 검사 - 커스텀 재료 등록(js) -->
					$.ajax({
						type:"post"
						,url:"/user/" + "[[${session.loginId}]]" + "/ingredient/custom/register"
						,data:{
							"foodName":$("#food-name").val().trim()
							,"netWeight":$("#net-weight").val().trim()
							,"calorie":$("#calorie").val().trim()
							,"carbohydrates":$("#carbohydrates").val().trim()
							,"protein":$("#protein").val().trim()
							,"fat":$("#fat").val().trim()
						}
						,success:function(data) {
							alert(data.message);
						}
						,error:function(e) {
							alert("실패")
						}
					})
				}
				
			}); // 재료 담기 끝
			
		});
	</script>
</th:block>